<div class="schedule-track-content" style={{background-color scheduleTrack.color}}>
  <div class="schedule-track-content__info">
    {{scheduleTrack.position}}<br>
    <button type="button" name="delete" {{action 'delete'}}>delete</button><br>
    <button type="button" name="like" {{action 'like'}}>like</button>
  </div>
</div>
