<div class="schedule-track-content" style={{background-color scheduleTrack.color}}>
  <div class="schedule-track-content__info">
    {{scheduleTrack.position}}
    <button type="button" name="delete" {{action 'delete'}}>delete</button>
  </div>
</div>
