body {
  margin: 0;
}

.navigation-bar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: #efefef;
  height: 30px;
  display: flex;
  padding: 10px;
}

.navigation-bar button {
  display: flex-item;
  margin-right: 10px;
}

.schedule-tracks-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.schedule-track {
  position: relative;

  flex-shrink: 0;

  width: 20%;
  padding-bottom: 20%;
}

.schedule-track-content {
  position: absolute;

  width: 100%;
  height: 100%;
}

.schedule-track-content__info {
  padding: 10px;
}
