body {
  margin: 0;
}

.navigation-bar {
  background: #efefef;
  height: 30px;
  display: flex;
  padding: 10px;
}

.navigation-bar button {
  display: flex-item;
  margin-right: 10px;
}

.schedule-track-container {
  display: flex;
}

.schedule-track {
  position: relative;

  width: 20%;
  padding-bottom: 20%;
}

.schedule-track-content {
  position: absolute;

  width: 100%;
  height: 100%;
  
  padding: 10px;
}
