<section class="navigation-bar">
  <button type="button" name="next" {{action "next"}}>Next</button>
  <button type="button" name="add" {{action "add"}}>Add</button>
</section>

{{schedule-tracks-container scheduleTracks=sortedScheduleTracks onDelete=(action "deleteScheduleTrack")}}

{{outlet}}
