<section class="navigation-bar">
  <button type="button" name="next" {{action "next"}}>Next</button>
  <button type="button" name="add" {{action "add"}}>Add</button>
</section>
<div class="schedule-track-container">
  
</div>
{{outlet}}
